.logo {
    margin-right: 24px;
}

.bell {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFF4E3 !important;
    box-shadow: 0px 4px 24px rgba(156, 130, 38, 0.4);
}

.badge-contribution {
    background-color: #130B43 !important;
    color: white !important;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px !important;
    padding-inline: 12px !important;
    border: 3px solid #CC00FF !important;
}

.dashboard-button {
    background: linear-gradient(180deg, #2200FF 0%, #9E00FF 100%);
    box-shadow: 0px 2px 12px rgba(79, 114, 205, 0.8);
}